---

mysql_core:
   image: mysql:5.6
   ports:
     - '3301:3306'
   restart: always
   environment:
     MYSQL_DATABASE: agave-api
     MYSQL_USER: agaveapi
     MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
     MYSQL_PASSWORD: {{ mysql_core_password }}

mysql_auth:
   image: mysql:5.6
   ports:
     - '3306:3306'
   restart: always
   environment:
     MYSQL_USER: agaveapi
     MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
     MYSQL_PASSWORD: {{ mysql_core_password }}

mongo:
   image: agaveapi/mongodb
   ports:
     - '27017:27017'
   environment:
     MONGODB_USERNAME: agaveapi
     MONGODB_DATABASE: api
     MONGODB_PASSWORD: {{ mysql_root_password }}
   restart: always

beanstalk:
   image: agaveapi/beanstalkd
   hostname: api.sandbox.agaveapi.co
   ports:
     - '11300:11300'
   restart: always

slapd:
    image: jstubbs/slapd
    ports:
      - "389:389"
    environment:
        LDAP_DOMAIN: agaveapi
        LDAP_ORGANISATION: "Agave"
        LDAP_ROOTPASS: {{ auth_ldap_bind_password }}
