###############################################################
# Core Science APIs - Staging
# docker-compose.yml
#
# This is the proxy server used to expose Agave's backend APIs
# to the outside world. It contains an Apache server with SSL
# enabled and rewrite rules to each of Agave's  API core
# science API containers. Containers are assigned static ports
# to enable rolling updates of each API as needed. Containers
# needed to perform data operations are assigned a partition
# of the default gridftp and ftp port ranges to enable proper
# operation of the protocol from within each container.
###############################################################
#
proxy:
  image: agaveapi/apache-api-proxy:alpine
  hostname: {{ agave_core_hostname }}
  ports:
    - '80:80'
    - '443:443'
  restart: always
  extra_hosts:
   - "proxy.host:{{ ansible_ssh_host }}"
  environment:
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
  volumes:
    - '/var/log/splunk/proxy:/var/log/apache2'
    - './ssl:/ssl:ro'

###############################################################
#   Agave Core Services
###############################################################

jobs:
  image: agaveapi/jobs-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 2048m
  ports:
    - "8081:80"
    - "8444:443"
    - "50007:50007"
    - "50008:50008"
    - "50009:50009"
    - "50010:50010"
    - "50011:50011"
    - "50012:50012"
    - "50013:50013"
    - "50014:50014"
    - "50015:50015"
    - "50016:50016"
    - "50017:50017"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'IPLANT_MAX_STAGING_TASKS=5'
    - 'IPLANT_MAX_ARCHIVE_TASKS=5'
    - 'IPLANT_MAX_SUBMISSION_TASKS=2'
    - 'IPLANT_MAX_MONITORING_TASKS=1'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'GLOBUS_TCP_PORT_RANGE=50007,50017'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/jobs:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

files:
  image: agaveapi/files-api:{{ agave_core_version }}
  mem_limit: 2048m
  hostname: {{ agave_core_hostname }}
  ports:
    - "8082:80"
    - "8445:443"
    - "50301:50301"
    - "50302:50302"
    - "50303:50303"
    - "50304:50304"
    - "50305:50305"
    - "50306:50306"
    - "50307:50307"
    - "50308:50308"
    - "50309:50309"
    - "50310:50310"
  restart: "always"
  environment:
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'IPLANT_LOG_SERVICE=http://agave-core-staging.tacc.utexas.edu/logging'
    - 'IPLANT_MAX_STAGING_TASKS=5'
    - 'IPLANT_MAX_TRANSFORM_TASKS=5'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE=staging.notifications.queue'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC=staging.notifications.topic'
    - 'IPLANT_MESSAGING_HOST=queue.staging.agaveapi.co'
    - 'IPLANT_MESSAGING_PORT=11300'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'GLOBUS_TCP_PORT_RANGE=50301,50310'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/files:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

apps:
  image: agaveapi/apps-api:{{ agave_core_version }}
  mem_limit: 1024m
  hostname: {{ agave_core_hostname }}
  ports:
    - "8083:80"
    - "8446:443"
    - "50901:50901"
    - "50902:50902"
    - "50903:50903"
    - "50904:50904"
    - "50905:50905"
    - "50906:50906"
    - "50907:50907"
    - "50908:50908"
    - "50909:50909"
    - "50910:50910"
    - "50911:50911"
    - "50912:50912"
    - "50913:50913"
    - "50914:50914"
    - "50915:50915"
    - "50916:50916"
    - "50917:50917"
    - "50918:50918"
    - "50919:50919"
    - "50920:50920"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'GLOBUS_TCP_PORT_RANGE=50007,50017'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/apps:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

systems:
  image: agaveapi/systems-api:{{ agave_core_version }}
  mem_limit: 512m
  hostname: {{ agave_core_hostname }}
  ports:
    - "8084:80"
    - "8447:443"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/systems:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

monitors:
  image: agaveapi/monitors-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 1024m
  ports:
    - "8085:80"
    - "8448:443"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'IPLANT_MAX_MONITOR_TASKS=2'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/monitors:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

profiles:
  image: agaveapi/profiles-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 512m
  ports:
    - "8086:80"
    - "8449:443"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'iplant.internal.account.service.key={{ agave_core_iplant_internal_account_service_key }}'
    - 'iplant.internal.account.service.secret={{ agave_core_iplant_internal_account_service_secret }}'
    - 'iplant.internal.account.service={{ agave_core_iplant_internal_account_service }}'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/profiles:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

metadata:
  image: agaveapi/metadata-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 512m
  ports:
    - "8087:80"
    - "8450:443"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_METADATA_DB_HOST={{ agave_core_metadata_db_host }}'
    - 'IPLANT_METADATA_DB_PORT={{ agave_core_metadata_db_port }}'
    - 'IPLANT_METADATA_DB_USER={{ agave_core_metadata_db_user }}'
    - 'IPLANT_METADATA_DB_PWD={{ agave_core_metadata_db_password }}'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/metadata:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

notifications:
  image: agaveapi/notifications-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 1024m
  ports:
    - "8088:80"
    - "8451:443"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'IPLANT_MAX_NOTIFICATION_TASKS=2'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/notifications:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

transforms:
  image: agaveapi/transforms-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 1024m
  ports:
    - "8098:80"
    - "8461:443"
    - "50601:50601"
    - "50602:50602"
    - "50603:50603"
    - "50604:50604"
    - "50605:50605"
    - "50606:50606"
    - "50607:50607"
    - "50608:50608"
    - "50609:50609"
    - "50610:50610"

  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'IPLANT_MAX_STAGING_TASKS=2'
    - 'IPLANT_MAX_ARCHIVE_TASKS=2'
    - 'IPLANT_MAX_SUBMISSION_TASKS=2'
    - 'IPLANT_MAX_MONITORING_TASKS=1'
    - 'IPLANT_DEDICATED_TENANT_ID='
    - 'IPLANT_DRAIN_ALL_QUEUES=false'
    - 'MAIL_SMTPS_PROVIDER={{ agave_core_smtps_provider }}'
    - 'MAIL_SMTPS_HOST={{ agave_core_smtps_host }}'
    - 'MAIL_SMTPS_AUTH={{ agave_core_smtps_auth }}'
    - 'MAIL_SMTPS_PORT={{ agave_core_smtps_port }}'
    - 'MAIL_SMTPS_USER={{ agave_core_smtps_user }}'
    - 'MAIL_SMTPS_PASSWD={{ agave_core_smtps_password }}'
    - 'MAIL_SMTPS_FROM_NAME="Agave Prod Notification Service"'
    - 'MAIL_SMTPS_FROM_ADDRESS="no-reply@agaveapi.co"'
    - 'IPLANT_MAX_NOTIFICATION_TASKS=2'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
    - 'CATALINA_OPTS="-Duser.timezone=America/Chicago -Djsse.enableCBCProtection=false -Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms512m -Xmx2048m -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"'
  volumes:
    - '/var/log/splunk/transforms:/opt/tomcat/logs'
    - './ssl:/ssl:ro'

postits:
  image: agaveapi/postits-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 512m
  ports:
    - "8090:80"
    - "8453:443"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'MYSQL_HOST={{ mysql_core_host }}:{{ mysql_core_port }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
  volumes:
    - '/var/log/splunk/postits:/var/log/apache2'
    - './ssl:/ssl:ro'

usage:
  image: agaveapi/usage-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 512m
  ports:
    - "8091:80"
    - "8454:443"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'MYSQL_HOST={{ mysql_core_host }}:{{ mysql_core_port }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
  volumes:
    - '/var/log/splunk/usage:/var/log/apache2'
    - './ssl:/ssl:ro'

tenants:
  image: agaveapi/tenants-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 256m
  ports:
    - "8092:80"
    - "8455:443"
  restart: "always"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'IPLANT_LOG_SERVICE={{ agave_core_log_service }}'
    - 'IPLANT_TENANTS_SERVICE={{ agave_core_tenants_service }}'
    - 'MYSQL_HOST={{ mysql_core_host }}:{{ mysql_core_port }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
  volumes:
    - '/var/log/splunk/tenants:/var/log/apache2'
    - './ssl:/ssl:ro'

logging:
  image: agaveapi/logging-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 512m
  restart: always
  ports:
    - "8093:80"
    - "8456:443"
  environment:
    - 'IPLANT_SLAVE_MODE=false'
    - 'MYSQL_HOST={{ mysql_core_host }}:{{ mysql_core_port }}'
    - 'MYSQL_PORT={{ mysql_core_port }}'
    - 'MYSQL_USERNAME={{ mysql_core_user }}'
    - 'MYSQL_PASSWORD={{ mysql_core_password }}'
    - 'MYSQL_DATABASE=agave-api'
    - 'IPLANT_NOTIFICATION_SERVICE_QUEUE={{ agave_core_notification_queue }}'
    - 'IPLANT_NOTIFICATION_SERVICE_TOPIC={{ agave_core_notification_topic }}'
    - 'IPLANT_MESSAGING_HOST={{ agave_core_messaging_host }}'
    - 'IPLANT_MESSAGING_PORT={{ agave_core_messaging_port }}'
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
  volumes:
    - '/var/log/splunk/logging:/var/log/apache2'
    - './ssl:/ssl:ro'

docs:
  image: agaveapi/apidocs-api:{{ agave_core_version }}
  hostname: {{ agave_core_hostname }}
  mem_limit: 256m
  ports:
    - "8094:80"
    - "8457:443"
  environment:
    - 'SSL_CERT={{ agave_core_ssl_cert }}'
    - 'SSL_KEY={{ agave_core_ssl_key }}'
    - 'SSL_CA_CERT={{ agave_core_ca_cert }}'
  volumes:
    - '/var/log/splunk/docs:/var/log/apache2'
    - './ssl:/ssl:ro'
