---
{% if ha_deployment %}
haProxySerfnode:
    image: '{{ serfnode_image }}'
    name: hap_serf
    volumes:
        - /:/host
        - /home/apim/hap_serfnode.yml:/serfnode.yml
    ports:
        - "80:80"
        - "443:443"
{% endif %}

httpdSerfnode:
    image: '{{ serfnode_image }}'
    name: httpd_serf
    volumes:
        - /:/host
        - /home/apim/httpd_serfnode.yml:/serfnode.yml
{% if ha_deployment %}
    ports:
        - "4080:80"
        - "40443:443"
{% else %}
    ports:
        - "80:80"
        - "443:443"
{% endif %}


apimSerfnode:
    image: '{{ serfnode_image }}'
    name: apim_serf
    volumes:
        - /:/host
        - /home/apim/apim_serfnode.yml:/serfnode.yml
    ports:
        - "9443:9443"
        - "8243:8243"
        - "6284:6284"

idSerfnode:
    image: '{{ serfnode_image }}'
    name: id_serf
    volumes:
        - /:/host
        - /home/apim/id_serfnode.yml:/serfnode.yml
    ports:
        - "8000:80"

clientsSerfnode:
    image: '{{ serfnode_image }}'
    name: id_serf
    volumes:
        - /:/host
        - /home/apim/clients_serfnode.yml:/serfnode.yml
    ports:
        - "8001:80"
