{% if ha_deployment %}
hap.{{ tenant_id }}.agave.tacc.utexas.edu:
    image: jstubbs/haproxy_auth
    ports:
        - "80:80"
        - "443:443"
    volumes:
        - /home/apim/{{ tenant_id }}/{{ tenant_id }}.yml:/values.yml
        - /home/apim/{{ tenant_id }}/passwords:/passwords
    restart: unless-stopped

{% endif %}
